.registers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-input {
  height: 30px;
  padding: 10px;
}

.register-button {
  border: none;
  padding: 10px 20px;
  background-color: rgb(169, 169, 169);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.register-button:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}