.footer{
    width: 100%;
    width: 1420px;
    font-size: 14px;
  }
  
  .fLists{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  .fList{
    list-style: none;
    padding: 0;
  }
  
  .fListItem{
    margin-bottom: 10px;
    color: black;
    cursor: pointer;
    transition: ease-in-out;
  }

  .fListItem:hover {
    color: rgb(169,169,169);
  }