.navbar {
    height: 50px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
}

.navContainer {
    width: 100%;
    max-width: 1420px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 600;
    margin-right: 300px;
}

.navButton {
    border: 1px solid;
    border-width: 100px;
    border-radius: 10px;
    background-color: rgb(169,169,169);
    margin-left: 20px;
    border: none;
    cursor: pointer;
    color: black ;
    padding: 10px 33px;    
}